* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: white;
    line-height: 1.6; 
}
 
.site-header {
    background-color: #1c1c1c;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo-container {
    display:flex; 
    align-items: center;
    gap: 10px;
}

.logo-container img {
    height: 100px;
    margin-right: 15px;
}
 
h1 {
    font-size: 80px;
    color: white;
}
 
.artists-nav {
    background-color: #282828;
    padding: 20px 0;
    display: flex;
    justify-content: center; 
    overflow-x: auto;
}
 
.artist-item {
    display: inline-flex; 
    flex-direction: column;
    align-items: center;
    margin: 0 20px; 
    cursor: pointer;
}

.hover-ring {
    border: 2px solid #ff0000;
    transition: border 0.3s ease;
}
 
.artist-item img {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid transparent; 
    transition: border-color 0.3s; 
}
 
.artist-item.selected img {
    border-color: #0c84d2; 
}
 
.content {
    padding: 20px;
    max-width: 1200px; 
    margin: auto; 
}
 
.artist-info {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    align-items: column;
    gap: 20px;
    justify-content: center; 
}
 
.artist-info img {
    width: 120px; 
    height: 120px; 
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.artist-info h2{
    margin-bottom: 15px;
}
 
.artist-info p{
    margin-top: 15px;
    white-space: normal;
    overflow-wrap: break-word;
}

.comments-section {
    background-color: #242424;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}
 
.comments-section h3 {
    margin-bottom: 10px;
}
 
.comments-list li {
    background-color: #1e1e1e;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}
 
textarea {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px; 
}
 
.submit-comment {
    padding: 10px 20px;
    background-color: #0c84d2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block; 
    width: 100%;
    margin-top: 10px; 
}
 
.submit-comment:hover {
    background-color: #0a6bae;
}

.artist-item.hover-ring {
    border: 2px solid #ff0000;
    border-radius: 50%;
    transition: border 0.3s ease, border-radius 0.3 ease;
}
 
footer {
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px; 
}
